<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KisCicApp</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrapper">
      <section class="pc-side-section mobile-top-section">
        <header class="statusbar">
          <img src="./img/<%= user.thumbnail %>" alt="" class="thumbnail circle">
          <span><%= user.name %></span>
        </header>
        <div class="cat-holder">
          <img src="./img/xmas-cat.svg" alt="" class="cat-image image-large">
          <h1><%= greeting %></h1>
          <p><%= date %></p>
        </div>
      </section>
      <main class="main-content">
        <section class="news-section">
          <header class="section-header">
            <img src="./img/news-cat.svg" alt="" class="cat-image">
          </header>
          <div class="section-articles">
            <% for (let i = 0; i < 3; i++) { %>
            <article class="section-article">
              <h3><a href="<%= index_articles[i].link %>"><%= index_articles[i].title %></a></h3>
              <p><%= index_articles[i].content %></p>
            </article>
            <% } %>
          </div>
        </section>
        <section class="weather-section">
          <div class="section-header">
            <img src="./img/weather-cat.svg" alt="" class="cat-image">
            <h1 id="temp">Nem tudom :(</h1>
            <p id="city">Budapest</p>
          </div>
        </section>
        <section class="news-section">
          <header class="section-header">
            <img src="./img/sports-cat.svg" alt="" class="cat-image">
          </header>
          <div class="section-articles">
            <% for (let i = 0; i < 3; i++) { %>
            <article class="section-article">
              <h3><a href="<%= origo_articles[i].link %>"><%= origo_articles[i].title %></a></h3>
              <p><%= origo_articles[i].content %></p>
            </article>
            <% } %>
          </div>
        </section>
        <footer class="bottom-footer">
          <b>Created by: Egy Tiglinc aki Szeret!</b>
        </footer>
      </main>
    </div>
  </body>
</html>
